.hotel-card {
    background-color: #ffffff;
    color: #1d2026;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .hotel-card img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .hotel-card button {
    background-color: var(--button-color);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .hotel-card button:hover {
    background-color: var(--button-hover-color);
  }
  