  #purchases {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-left: 20px;
  }

  #purchases h2 {
    margin-bottom: 20px;
  }

  #purchase-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 20px;
  }
  .cancel-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 20px;
    margin-left: 10px;
    transition: background-color 0.2s ease-in-out;
  }

  .cancel-btn:hover {
    background-color: var(--button-hover-color);
  }
  
  .hotel-item {
    display: flex;
    background-color: #2d313b;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .hotel-item span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .hotel-item .price {
    font-weight: normal;
  }
  
  .total-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }
  
  .total-price span {
    font-size: 18px;
    font-weight: bold;
  }
  